@import '../styles/global.scss';

.Home {
	height: 100vh;
	background-image: url('/static/home1-tiny.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 0%;
}

.Home__overlay {
	height: 100%;
	width: 100%;
	transition: all 3.0s;
	transition-delay: 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Home__intro {
	width: 100%;
	transition: opacity 2.5s;

	@media #{$desktop}, #{$tablet} {
		text-align: right;
		padding: 30px;
	}

	@media #{$mobile} {
		text-align: center;
		padding: 10px;
		margin-top: 40px;
	}
}

.Home__intro .Home__title {
	color: $dank-green;
	transition: opacity 5.0s;
	transition-delay: 2.0s;
}

.Home__intro .Home__subtitle {
	transition: opacity 5.0s;
	transition-delay: 3.5s;
	color: $white-haze;
	@media #{$desktop} {
		margin-left: 30%;
	}

	@media #{$tablet} {
		margin-left: 10%;
	}
}

.Home__blurb {
	color: $white-haze;
	margin: 50px 30px;
	transition: opacity 5.0s;
	transition-delay: 4.5s;
}

/* Animations */

.Home--start .Home__overlay {
	background-color: transparent;
	opacity: 0;
}

.Home--end .Home__overlay {
	opacity: 0.85;
	background-color: $dank-purple;
}


.Home--start .Home__title, .Home--start .Home__subtitle, .Home--start .Home__blurb {
	opacity: 0;
}

.Home--end .Home__title, .Home--end .Home__subtitle, .Home--end .Home--blurb {
	opacity: 1;
}
