@import '../../styles/global.scss';

.Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-bottom: 1px $dank-purple solid;
	margin-bottom: 15px;
}


.Nav ul {
	display: flex;
	justify-content: flex-start;
	padding: 0;
}

.Nav li {
	display: flex;
	padding: 6px 8px;
}

.Nav a {
	color: $dank-purple;
	text-decoration: none;
}

.Nav__CartIcon {
	margin-right: 10px;
}
.Nav__CartIcon path {
	fill: $dank-purple
}
