@import './variables.scss';


@font-face {
  font-family: RighteousRegular;
  src: url('/static/fonts/Righteous/Righteous-Regular.ttf')
}

@font-face {
  font-family: Raleway-Regular;
  src: url('/static/fonts/Raleway/Raleway-Regular.ttf')
}

.dp-title {
	font-family: 'RighteousRegular', "Arial Black", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 10.2rem;
		letter-spacing: .3rem;
	}

	@media #{$mobile} {
		font-size: 6.0rem;
		letter-spacing: .100rem;
	}
}

.dp-product-title {
	font-family: 'RighteousRegular', "Arial Black", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 4.5rem;
		letter-spacing: .1rem;
	}

	@media #{$mobile} {
		font-size: 3.5rem;
	}
}

.dp-subtitle {
	font-family: 'Raleway-Regular', "Arial", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 4.5rem;
		letter-spacing: .1rem;
	}

	@media #{$mobile} {
		font-size: 2.0rem;
	}
}

.dp-supporting-text {
	font-family: 'Raleway-Regular', "Arial", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 2.8rem;
		letter-spacing: .1rem;
	}

	@media #{$mobile} {
		font-size: 1.5rem;
	}
}


.dp-footnote {
	font-family: 'Raleway-Regular', "Arial", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 1.8rem;
		letter-spacing: .1rem;
	}

	@media #{$mobile} {
		font-size: 0.8rem;
	}
}


.dp-paragraph {
	font-family: 'Raleway-Regular', "Arial", Courier, monospace;
	@media #{$desktop}, #{$tablet} {
		font-size: 1.8rem;
		letter-spacing: .1rem;
	}

	@media #{$mobile} {
		font-size: 1.5rem;
	}
}
