$mobile: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1024px)';
$desktop: '(min-width: 1025px)';

$dank-green: rgb(158,202,1);
$white-haze: rgb(213,203,235);
$dank-purple: rgb(62,52,82);
